@import '../../shared/variables.less';

.about-kate-row {
  display: flex;
  width: 70vw;
  margin: 15% auto;

  & .about-kate-column {
    display: block;
  }

  & .portrait {
    width: 25vw;
    margin-left: 7%;
  }

  & .text-column {
    display: block;
    width: 45vw;
    position: relative;

    & .heading {
      position: relative;
      z-index: 2;
      width: 100%;
      margin: 0;
      right: 5vw;
      font-family: 'Dancing Script', cursive;
      font-size: 4vw;
    }

    & .detailed-text {
      margin: 5% 7% 0 9%;
      font-size: 1.5vw;
    }
  }

}
