<section class="row about-kate-row">
  <img class="col about-kate-column portrait" tabindex="0" src="assets/images/main/kate-portrait.jpg" alt="kate">
  <img class="stain lightpink-stain" src="assets/images/stains/lightpink-stain-1.svg" alt="stain">
  <img class="stain darkpink-stain" src="assets/images/stains/darkpink-stain-1.svg" alt="stain">
  <img class="stain gray-stain" src="assets/images/stains/gray-stain-2.svg" alt="stain">

  <div class="col about-kate-column text-column">
    <p class="heading">Lorem ipsum dolor sit amet</p>
    <p class="detailed-text" i18n>Является текст-заполнитель обычно используется в графических, печать и
      издательской индустрии для предварительного просмотра макета и визуальных макетах. Является текст-заполнитель
      обычно используется в графических, печать и
      издательской индустрии для предварительного просмотра макета и визуальных макетах.
    </p>
  </div>
</section>
