@import '../shared/variables.less';
@import '../shared/styles.less';

.catalog-row,
.intro-row {
  display: flex;
  margin: 2% 7%;
  justify-content: center;
  text-align: center;

  .catalog-col,
  .intro-col {
    display: block;
  }
}

.intro-row {
  .image {
    width: 30vw;
    height: auto;
  }

  .text {
    width: 40vw;
    margin: 5% 2%;

    .main-heading {
      font-weight: 500;
      font-size: 1.8vw;
    }
  }
}

.catalog-row {
  flex-wrap: wrap;

  .catalog-col {
    width: 20vw;
    margin: 2%;
  }

  .image {
    width: 100%;
  }
}

@media only screen and (max-width: 770px) {
  .loading-div {
    height: 50vh;
    justify-content: center;

    .loading-text {
      color: @primary-peach;
      text-align: center;
      font-size: 10vw;
      margin: 10% 0;
    }
  }
  .catalog-row,
  .intro-row {
    display: block;
  }

  .intro-row {
    .image {
      width: 100%;
    }

    .text {
      width: 85vw;
      font-size: 6vw;
      margin: auto;

      .main-heading {
        font-size: 8vw;
      }
    }
  }

  .catalog-row {
    flex-wrap: wrap;
    margin: 15vh 0;

    .catalog-col {
      width: 70%;
      margin: 15% auto;
    }

    .product-name {
      font-size: 8vw;
    }

    .product-details {
      font-size: 6vw;
    }
  }
}
