<div *ngIf="isLoading">
  <h3 class="loading-text">Loading...</h3>
</div>

<div *ngIf="!isLoading">
  <div class="intro">
    <div class="intro-row">
      <img class="intro-col image" src="{{category.imagePath}}" alt="cake">
      <div class="intro-col text">
        <h3 class="main-heading">{{category.name}}</h3>
        <p class="text">{{category.detailedText}}</p>
      </div>
    </div>
  </div>

  <div class="catalog">
    <div class="catalog-row" *ngIf="category.items">
      <div class="catalog-col" *ngFor="let product of category.items">
        <img class="image"
             src="{{product.mainPhoto}}"
             alt="cake"
             (click)="changeSelectedProduct(product.id)">
        <p class="product-name">{{product.name}}</p>
        <p class="product-details">{{product.weight}} / {{product.price}} грн</p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

