<div class="header-expanded">
  <div class="header-list">

    <a class="link"
       tabindex="0"
       *ngFor="let headerItem of headerItemArrayRight"
       [ngClass]="{'active' : headerItem.activated}"
       (click)="headerComponent.changePath(headerItem.enumParam)"
       (keydown.enter)="headerComponent.changePath(headerItem.enumParam)"
       i18n="Header element|One of headers element@@headerElement">
      {headerItem.title, select, cakes {cakes}}
    </a>

    <div class="logo"
         tabindex="-1"
         (click)="headerComponent.unactivateAllLinks()"
         (keydown.enter)="headerComponent.unactivateAllLinks()">
      <p class="with-love-text">with love</p>
      <p class="kate-cake-text">Kate Cake</p>
    </div>

    <a class="link"
       tabindex="0"
       *ngFor="let headerItem of headerItemArrayLeft"
       [ngClass]="{'active' : headerItem.activated}"
       (click)="headerComponent.changePath(headerItem.enumParam)"
       (keydown.enter)="headerComponent.changePath(headerItem.enumParam)"
       i18n="Header element|One of headers element@@headerElement">
      {headerItem.title, select, cakes {cakes}}
    </a>

  </div>
</div>
