@import '../../styles.less';

.header-expanded {
  .fontStyle(@font-montserrat, 1.3vw);
  text-align: center;
  width: 100%;

  .header-list {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    outline: none;

    .link {
      display: inline-block;
      margin: auto 1.5vw;
      text-decoration: none;
      color: @primary-black;
      font-weight: 500;

      & .active,
      &:hover,
      &:focus {
        color: @primary-peach;
        outline: none;
      }
    }

    .logo {
      .fontStyle(@font-dancing-script, 2vw, normal, @primary-peach);
      display: inline-block;
      margin: 0px 25px;

      .kate-cake-text {
        font-size: 4vw;
      }
    }
  }
}
