<div class="header-expanded">
  <div class="header-list">

    <a *ngFor="let headerItem of headerItemArrayRight"
       class="link"
       [ngClass]="{'active' : headerItem.activated}"
       (click)="headerComponent.changePath(headerItem.enumParam)"
       i18n="Header element|One of headers element@@headerElement">
      {headerItem.title, select, cakes {cakes}}
    </a>

    <div class="logo" (click)="headerComponent.unactivateAllLinks()">
      <p class="with-love-text">with love</p>
      <p class="kate-cake-text">Kate Cake</p>
    </div>

    <a *ngFor="let headerItem of headerItemArrayLeft"
       class="link"
       [ngClass]="{'active' : headerItem.activated}"
       (click)="headerComponent.changePath(headerItem.enumParam)"
       i18n="Header element|One of headers element@@headerElement">
      {headerItem.title, select, cakes {cakes}}
    </a>

  </div>
</div>
