<div class="overlay-links">
  <div class="social-links">

    <div class="container" *ngFor="let socialLink of getSocialLinks(); let i = index">
      <div class="social-link clickable"
           tabindex="0">
        <img class="icon"
             src="{{socialLink.iconPath}}"
             alt="icon">
        <a class="link"
           tabindex="-1"
           href="{{socialLink.link}}">{{socialLink.name}}</a>
      </div>
    </div>

    <div *ngIf="showMoreInfo" class="container">
      <div class="social-link clickable" (click)="openOverlay()">
        <img class="icon" src="assets/icons/question.svg" alt="stain">
        <a class="link">more info</a>
      </div>

      <div id="overlay" class="clickable" (click)="closeOverlay()">
        <app-info-modal class="overlay-container"></app-info-modal>
      </div>
    </div>

  </div>
</div>
