<div class="info-modal">

  <div class="logo">
    <p class="with-love-text">with love</p>
    <p class="kate-cake-text">Kate Cake</p>
  </div>

  <p class="main-text add-margin">Привет! Является текст-заполнитель обычно используется в графических, печать и
    издательской индустрии для предварительного просмотра макета и визуальных макетах. Является текст-заполнитель
    обычно используется в графических, печатm.</p>
  <p class="add-margin">Есть доставка на <span class="highlighted">такси</span> либо <span
    class="highlighted">самовывоз</span> в Деснянском районе.</p>

  <div class="contacts">
    <p class="background-line">Чтобы сделать заказ, просто напиши мне:</p>
    <app-socials-widget [showMoreInfo]="false"></app-socials-widget>
  </div>

</div>
