<div class="header">
  <ul class="header-list">
    <li class="item">
      <a class="link" routerLink="/menu" routerLinkActive="active">Торты</a>
    </li>
    <li class="item">
      <a class="link" routerLink="/menu" routerLinkActive="active">Чизкейки</a>
    </li>
    <li class="item">
      <a class="link" routerLink="/menu" routerLinkActive="active">Капкейки</a>
    </li>
    <li class="item logo">
      <h2 routerLink="/menu" routerLinkActive="active">with love</h2>
      <h3 routerLink="/menu" routerLinkActive="active">Kate Cake</h3>
    </li>
    <li class="item">
      <a class="link" routerLink="/menu" routerLinkActive="active">Макароны</a>
    </li>
    <li class="item">
      <a class="link" routerLink="/menu" routerLinkActive="active">Эскимо-кейкпопсы</a>
    </li>
  </ul>
</div>
