@import '../variables.less';

.header {
  width: 100%;
  height: 10vh;
  font-family: 'Montserrat', sans-serif;

  .header-list {
    display: flex;

    .item {
      display: block;
      margin: 2%;

      .link {
        text-decoration: none;
        color: @primary-black;
      }
    }

    .logo {
      font-family: 'Dancing Script', cursive;
      color: @primary-peach;
    }
  }
}
