<div class="header-expanded" *ngIf="screenWidth > 768">
  <div class="header-list">
    <a class="link"
       (click)="changeSelectedProduct(categoriesEnum.Cakes)"
       routerLink="/catalog"
       routerLinkActive="active">
      Торты
    </a>
    <a class="link"
       (click)="changeSelectedProduct(categoriesEnum.Cheesecakes)"
       routerLink="/catalog"
       routerLinkActive="active">Чизкейки</a>
    <a class="link"
       (click)="changeSelectedProduct(categoriesEnum.Cupcakes)"
       routerLink="/catalog"
       routerLinkActive="active">Капкейки</a>
    <div class="logo">
      <p class="with-love-text" routerLink="/home" routerLinkActive="active">with love</p>
      <p class="kate-cake-text" routerLink="/home" routerLinkActive="active">Kate Cake</p>
    </div>
    <a  class="link"
        (click)="changeSelectedProduct(categoriesEnum.Macarons)"
        routerLink="/catalog"
        routerLinkActive="active">Макароны</a>
    <a class="link"
        (click)="changeSelectedProduct(categoriesEnum.Eskimo)"
        routerLink="/catalog"
        routerLinkActive="active">Эскимо-кейкпопсы</a>
  </div>
</div>

<div class="header-shrinked" *ngIf="screenWidth <= 768">
  <div id="header-shrinked" class="header-list overlay">
    <a class="closebtn" (click)="closeNav()">&times;</a>
    <div class="overlay-content">
      <a class="link"
         (click)="changePath(categoriesEnum.Cakes)"
         routerLinkActive="active">Торты</a>
      <a class="link"
         (click)="changePath(categoriesEnum.Cheesecakes)"
         routerLinkActive="active">Чизкейки</a>
      <a class="link"
         (click)="changePath(categoriesEnum.Cupcakes)"
         routerLinkActive="active">Капкейки</a>
      <a  class="link"
          (click)="changePath(categoriesEnum.Macarons)"
          routerLinkActive="active">Макароны</a>
      <a class="link"
         (click)="changePath(categoriesEnum.Eskimo)"
         routerLinkActive="active">Эскимо-кейкпопсы</a>
    </div>
  </div>

  <div class="options">
    <img class="menu" src="assets/icons/open-menu.svg" (click)="openNav()" alt="menu">
    <div class="logo">
      <p class="with-love-text" routerLink="/home" routerLinkActive="active">with love</p>
      <p class="kate-cake-text" routerLink="/home" routerLinkActive="active">Kate Cake</p>
    </div>
  </div>

</div>
