<div class="header">
  <div class="header-list">
    <a class="link" routerLink="/menu" routerLinkActive="active">Торты</a>
    <a class="link" routerLink="/menu" routerLinkActive="active">Чизкейки</a>
    <a class="link" routerLink="/menu" routerLinkActive="active">Капкейки</a>
    <div class="logo">
      <p class="with-love-text" routerLink="/menu" routerLinkActive="active">with love</p>
      <p class="kate-cake-text" routerLink="/menu" routerLinkActive="active">Kate Cake</p>
    </div>
    <a class="link" routerLink="/menu" routerLinkActive="active">Макароны</a>
    <a class="link" routerLink="/menu" routerLinkActive="active">Эскимо-кейкпопсы</a>
  </div>
</div>
