<div class="reviews-section">
  <h3 class="heading">Reviews</h3>

  <div class="reviews-row">
    <div class="reviews-col carousel">
      <owl-carousel-o
        [options]="optionsForReviewsCarousel">
        <ng-template
          carouselSlide
          *ngFor="let review of reviews"
          class="carousel-item">
          <p class="quote">&#8220;</p>
          <p class="text">{{review.text}}"</p>
          <h3 class="author">{{review.author}}</h3>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>

  <img class="stain yellow-stain" src="assets/images/stains/yellow-stain-1.svg" alt="stain">
  <img class="stain gray-stain" src="assets/images/stains/gray-stain-3.svg" alt="stain">

</div>
