@import '../home.component.less';

.reviews-section {
  margin: 15% 0;

  & .heading {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 4vw;
  }

  & .reviews-row {
    display: flex;
    position: relative;
    justify-content: center;

    & .reviews-col {
      display: block;
    }

    & .carousel {
      width: 70vw;

      .carousel-item {
        width: 30vw;
        margin: 1500px;
      }
    }
  }
}

._ngcontent-nyk-c22 {
  color: @primary-peach;
  background-color: @primary-peach;
}
