<div class="carousel">

  <div class="slides-row">

    <img *ngIf="settings.showArrows"
         class="arrow arrow-left"
         src="assets/icons/arrow-left.svg"
         alt="arrow"
         (click)="previous()">

    <div class="slide" [ngStyle]="customSlidesClass"
         *ngFor="let slide of slides.slice(startIndex, startIndex + settings.itemsPerSlide)">
      <div class="slider-content"
           (@slides.done)="onDone($event)"
           [@slides]="slidesState">
        <img [src]="slide.image" alt="image slide">
      </div>
    </div>

    <img *ngIf="settings.showArrows"
         class="arrow arrow-left"
         src="assets/icons/arrow-right.svg"
         alt="arrow"
         (click)="next()">
  </div>

  <div id="indicators" *ngIf="settings.showIndicators">
    <div class="indicator" *ngFor="let indicator of slides; let i = index">
      <img [ngStyle]="{'opacity': activatedSlides.includes(i) ? '0.5' : '0.2'}"
           (click)="changeSlides(i)"
           class="indicator"
           src="assets/icons/circle.svg"
           alt="indicator">
    </div>
  </div>

</div>
