<h3 class="heading">Follow the process</h3>

<div class="socials">

  <div class="photos-row">
    <div *ngFor="let photoItem of photosRow; let i = index">
      <img class="image inst-img" src="{{photoItem}}">
    </div>
  </div>

  <app-socials-widget class="overlay"></app-socials-widget>

  <div class="socials-row">
    <div class="header-list">
      <a *ngIf="screenWidth > 770" class="link" routerLink="/menu" routerLinkActive="active">Торты</a>
      <a *ngIf="screenWidth > 770" class="link" routerLink="/menu" routerLinkActive="active">Чизкейки</a>
      <a *ngIf="screenWidth > 770" class="link" routerLink="/menu" routerLinkActive="active">Капкейки</a>
      <div class="logo">
        <p class="with-love-text">with love</p>
        <p class="kate-cake-text">Kate Cake</p>
      </div>
      <a *ngIf="screenWidth > 770" class="link" routerLink="/menu" routerLinkActive="active">Макароны</a>
      <a *ngIf="screenWidth > 770" class="link" routerLink="/menu" routerLinkActive="active">Эскимо-кейкпопсы</a>
    </div>
  </div>

</div>
