<h3 class="heading">Follow the process</h3>

<div class="socials">

  <div class="photos-row">
    <div *ngFor="let photoItem of photosRow; let i = index">
      <img class="image inst-img" src="{{photoItem}}">
    </div>
  </div>

  <div class="overlay-links">
    <div class="social-link">
      <img class="icon" src="assets/images/stains/darkpink-stain-1.svg" alt="stain">
      <a class="link" routerLink="/menu" routerLinkActive="active">instagram</a>
    </div>
  </div>

  <div class="socials-row">
    <div class="header-list">
      <a class="link" routerLink="/menu" routerLinkActive="active">Торты</a>
      <a class="link" routerLink="/menu" routerLinkActive="active">Чизкейки</a>
      <a class="link" routerLink="/menu" routerLinkActive="active">Капкейки</a>
      <div class="logo">
        <p class="with-love-text">with love</p>
        <p class="kate-cake-text">Kate Cake</p>
      </div>
      <a class="link" routerLink="/menu" routerLinkActive="active">Макароны</a>
      <a class="link" routerLink="/menu" routerLinkActive="active">Эскимо-кейкпопсы</a>
    </div>
  </div>

</div>
