<div class="product-detailed row">

  <div class="col photos">
    <img class="image main-image" src="{{product.mainPhoto}}" alt="main-photo">
    <div class="additional-photos">
      <img class="image"
           *ngFor="let photo of product.otherPhotos"
           src="{{photo}}"
           alt="main-photo">
    </div>
  </div>

  <div class="col overview">
    <h3 class="main-heading">{{product.name}}</h3>
    <div class="text">
      <p class="block"><span class="highlighted">Ингридиенты: </span>{{product.ingredients}}</p>
      <p class="block"><span class="highlighted">Возможные добавки: </span>{{product.additionals}}</p>
      <p class="block"><span class="highlighted">Вес: </span>{{product.weight}}</p>
      <p class="block"><span class="highlighted">Цена: </span>{{product.price}} грн</p>
    </div>
    <button class="button order-button">Заказать</button>
  </div>

</div>
