@import '../../shared/variables.less';
@import '../../shared/styles.less';

.row {
  display: flex;
  padding: 5%;
  justify-content: center;

  .col {
    width: 40%;
    display: block;
  }
}

.photos {
  .main-image {
    width: 30vw;
  }

  .additional-photos {
    display: flex;
    width: 100%;
    justify-content: center;

    .image {
      width: 5vw;
      justify-content: center;
      margin: 2% 5%;
    }
  }
}

.overview {
  width: 100%;
  margin-top: 3%;

  .main-heading {
    text-align: center;
    font-size: 2vw;
    font-weight: 500;
    font-style: italic;
  }

  .block {
    .highlighted {
      font-weight: 500;
      font-style: italic;
    }
  }

  .order-button {
    position: relative;
    text-decoration: none;
    top: 20px;
    left: 34%;
  }
}

@media only screen and (max-width: 770px) {
  .row {
    padding: 0;
    justify-content: center;

    .col {
      width: 90%;
      margin: auto;
      justify-content: center;
    }
  }

  .photos {
    .main-image {
      width: 60vw;
      margin-left: 18%;
    }

    .additional-photos {
      display: flex;
      width: 100%;
      justify-content: center;

      .image {
        width: 20vw;
        height: 20vw;
        justify-content: center;
        margin: 2% 5%;
      }
    }
  }

  .overview {
    width: 100%;
    margin-top: 3%;
    padding-bottom: 70px;

    .main-heading {
      font-size: 8vw;
    }

    .text {
      margin: 2% 5%;
      font-size: 6vw;
    }

    .block {
      .highlighted {
        font-weight: 500;
        font-style: italic;
      }
    }

    .order-button {
      //margin: 5% 27% 20% 27%;
      font-size: 6vw;
      //position: relative;
      //text-decoration: none;
      top: 20px;
      left: 30%;
    }
  }

}
