@import '../../home/home.component.less';

.row {
  display: flex;
  padding: 2% 5%;
  justify-content: center;

  .col {
    width: 40%;
    display: block;
  }
}

.photos {
  .main-image {
    width: 30vw;
  }

  .additional-photos {
    display: flex;
    width: 100%;
    justify-content: center;

    .image {
      width: 5vw;
      justify-content: center;
      margin: 2% 5%;
    }
  }
}

.overview {
  width: 100%;
  margin-top: 3%;

  .main-heading {
    text-align: center;
    font-size: 2vw;
    font-weight: 500;
    font-style: italic;
  }

  .block {
    .highlighted {
      font-weight: 500;
      font-style: italic;
    }
  }
}
