.assortment-section {
  text-align: center;
  width: 100%;

  & .main-heading {
    font-family: 'Dancing Script', cursive;
    font-size: 4vw;
  }

  & .assortment-row {
    display: flex;
    flex-wrap: wrap;
    margin: 2% 0;
    justify-content: center;

    & .assortment-col {
      display: block;
      margin: 0 15px;

      & .assortment-image {
        width: 15vw;
      }
    }
  }
}
