.assortment-section {
  text-align: center;
  width: 100%;

  & .main-heading {
    font-family: 'Dancing Script', cursive;
    font-size: 4vw;
  }

  & .assortment-row {
    display: flex;
    flex-wrap: wrap;
    margin: 2% 0;
    justify-content: center;

    & .assortment-col {
      display: block;
      margin: 0 15px;

      & .assortment-image {
        width: 15vw;
      }
    }
  }
}

@media only screen and (max-width: 770px) {
  .assortment-section {
    margin: 35% 0;

    & .main-heading {
      font-size: 12vw;
    }

    & .assortment-row {
      & .assortment-col {
        margin-bottom: 50px;

        & .assortment-image {
          width: 80vw;
        }

        & .heading {
          font-size: 6vw;

        }
      }
    }
  }

}

