<div class="assortment-section">
  <h3 class="heading">Assortment</h3>

  <div class="assortment-row">
    <div class="assortment-col" *ngFor="let assortmentItem of assortmentArray">
      <div class="swap-on-hover">
        <img class="image assortment-image" src="{{assortmentItem.imagePath}}" alt="item">
        <img class="image assortment-image-hover" src="{{assortmentItem.hoverImagePath}}" alt="item">
      </div>
      <p class="item-heading">{{assortmentItem.title}}</p>
    </div>
  </div>

  <button class="button order-button">Заказать</button>

</div>
