<app-loading-widget *ngIf="isLoading"></app-loading-widget>

<div *ngIf="!isLoading">
  <app-home-main></app-home-main>
  <app-home-about-kate></app-home-about-kate>
  <app-home-assortment [categories]="assortmentCategories"></app-home-assortment>
  <app-home-reviews [reviews]="reviews"></app-home-reviews>
  <app-home-socials></app-home-socials>
</div>

<!--<app-carousel-widget [settings]="settings"-->
<!--                     [customSlidesClass]="customSlidesClass"-->
<!--                     [slides]="slides">-->
<!--</app-carousel-widget>-->

