<div class="footer">
  <div class="row">
    <div class="col col-logo">
        <p class="with-love-text">with love</p>
        <p class="kate-cake-text">Kate Cake</p>
    </div>
    <div class="col col-more">
      <p class="additional-text">Посмотреть также:</p>
      <div class="row">
        <a class="col link"
           (click)="changePath('Торты')"
           routerLinkActive="active">Торты</a>
        <a class="col link"
           (click)="changePath('Чизкейки')"
           routerLinkActive="active">Чизкейки</a>
        <a class="col link"
           (click)="changePath('Капкейки')"
           routerLinkActive="active">Капкейки</a>
        <a class="col link"
           (click)="changePath('Макароны')"
           routerLinkActive="active">Макароны</a>
        <a class="col link"
           (click)="changePath('Эскимо-кейкпопсы')"
           routerLinkActive="active">Эскимо-кейкпопсы</a>
      </div>
      <app-socials-widget class="overlay"></app-socials-widget>
    </div>
  </div>
</div>
